.addItem-input{
    width: 100px;
}

.addItem-title{
    margin-bottom: 40px;
}
.addItem-title2{
    margin-bottom: 40px;
}
.addItem-title{
    margin-bottom: 0;
}

.container{
    margin-bottom: 5rem;
}
.container2{
    margin-bottom: 0;
}

.text-center{
    color: black;
}

.addItem-btn{
    margin-top: 30px;
}