@mixin styling() {
    background-color: white;
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0.125rem rgba(0,0,0, .075) !important;
}

.editCategory{
    width: 20rem;
    background-color: blanchedalmond;
}

.edit-category-btn{
position: relative;    
margin-right: 3rem;
}

.edit-category-btn{
    border-radius: 0.25rem;
        border: 1px solid #6c7ac9;
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        vertical-align: middle;
        color: white;
        background-color: #6c7ac9;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 80%;

}



.categoryType-Editselect{
    @include styling();
    display: block;
    width: 80%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid;
    color: #768192;
    background-color: #fff;
    border-color: #d8dbe0;
    border-radius: 0 4px 4px 0;
    margin-top: 10px;
}
.editCategory-input{
    @include styling();
    display: block;
    width: 80%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid;
    color: #768192;
    background-color: #fff;
    border-color: #d8dbe0;
    border-radius: 0 4px 4px 0;
    margin-top: 10px;
}