.GR-NavTab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 3rem;
    margin-top: 4px;
}
.Tab-navbar{
    display: flex;
    // justify-content: center;
    margin-top: 4px;
    color: black;
    list-style-type: none;
    background-color: white;
    padding: 0px;
}

.nav-link{
    float: left;
}

.nav-link.active{
    border-bottom: 2px solid rgb(11, 133, 209);
    color:  rgb(11, 133, 209);
    font-size: medium;
    float: left;
}






// General Data
.General-Data{
    width: 100%;
    min-width: 752.8px;
    justify-content: center;
    display: flex;
    padding: 1rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    background-color:rgb(255, 255, 249);


    &_img{
        float: left;
        margin-right: 2rem;
    }

    &_rightContainer{
        float: right;
    }

    &_R2{
        display: flex;
        gap: 1rem;
    }

    &_R3{
        display: flex;
        gap: 1rem;
    }
    &_R3-left{
        flex: 50%;
    }
    &_R3-right{
        flex: 50%;
    }

    &_country{
        width: 100%;
    }

    &_textarea{
        width: 100%;
    }

    &_btn{
        float: right;
        border-radius: 0.25rem;
        border: 1px solid rgb(11, 133, 209);
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        vertical-align: middle;
        color: white;
        background-color: rgb(11, 133, 209);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.dropzone-input{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    background-color: rgb(220, 220, 220);
    border:rgb(114, 114, 114) dashed 1px;
    height: 10rem;
    padding-bottom: 3rem;
}

.dropzone-content{
    margin-top: 2rem;
}



.programNcourses{
    width: 100%;
    min-width: 752.8px;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(255, 255, 249);
    margin-bottom: 3rem;

    &_title{
        margin-top: 5px;
        color: rgb(44, 167, 255);
    }

    &_checkbox{
        display: flex;
        align-self: center;
    }

    &_container{
        border-top: rgb(190, 190, 190) solid 1px;
        margin-top: 5px;
        margin-bottom: 16px;
        margin-bottom: 3rem;
    }
    
    &_containerCB{
        margin-top: 5px;
        margin-bottom: 16px;
    }

    &_checkbox input{
        top: 5px;
        align-self: center;

    }
    &_section2{
        border-top: rgb(190, 190, 190) solid 1px;
        margin-top: 5px;
        // margin-bottom: 5px;
    }

    &_section2-select{
        width: 100%;
        margin-top: 5px;
        background-color: rgb(182, 182, 182);
        border: transparent;
    }
    &_section2-select:focus{
        min-width: 20rem;
        width: auto;
    }

    &_btn{
        float: right;
        width: 5rem;
        margin-top: 1rem;
        border-radius: 0.25rem;
        border: 1px solid rgb(44, 167, 255);
        // padding: 0.375rem 0.75rem;
        // font-size: 0.875rem;
        vertical-align: middle;
        background-color: rgb(44, 167, 255);
        color: white;
        margin-left: 5px;
    }
}


.AnP-container{
    width: 100%;
    min-width: 752.8px;
    margin-top: 1rem;
    margin-left: 3rme;
    background-color: rgb(255, 255, 249);
    padding: 1rem;
    margin-bottom: 3rem;
    // left: 2rem;

    &_dropZone{
        border-top: rgb(190, 190, 190) solid 1px;
        margin-top: 5px;
        margin-bottom: 16px;
    }

    &_section1{
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        padding: auto;
        height: auto;

        border-top: rgb(190, 190, 190) solid 1px;
    }

    &_leftInput{
        float: left;
        flex: 50%;
        padding: 10px;
    }
}

.AnP-rightInput{
    float: left;
    padding: 10px;
    flex: 50%;
}

.AnP-container_input{
    width: 100%;
}


.AnP-btnRemove{
    float: right;
        width: 8rem;
        margin-top: 1rem;
        border-radius: 0.25rem;
        border: 1px solid rgb(44, 167, 255);
        // padding: 0.375rem 0.75rem;
        // font-size: 0.875rem;
        vertical-align: middle;
        background-color: rgb(44, 167, 255);
        color: white;
        margin-left: 5px;
}

.AnP-btnSave{
    float: right;
        width: 8rem;
        margin-top: 1rem;
        border-radius: 0.25rem;
        border: 1px solid rgb(44, 167, 255);
        // padding: 0.375rem 0.75rem;
        // font-size: 0.875rem;
        vertical-align: middle;
        background-color: rgb(44, 167, 255);
        color: white;
        margin-left: 5px;
}
.AnP-btnEdit{
    float: right;
        width: 8rem;
        margin-top: 1rem;
        border-radius: 0.25rem;
        border: 1px solid rgb(44, 167, 255);
        vertical-align: middle;
        background-color: rgb(44, 167, 255);
        color: white;
        margin-left: 5px;
}
.AnP-btnDelete{
    float: right;
        width: 8rem;
        margin-top: 1rem;
        border-radius: 0.25rem;
        border: 1px solid rgb(255, 44, 44);
        vertical-align: middle;
        background-color: white;
        color: rgb(255, 44, 44);
        margin-left: 5px;
}

.AnP-picture-section{
    display: flex;
    flex: 70%;
}

.AnP-picture-items{
    display: flex;
    margin-left: 10px;
    flex: 30%;
}

.AnP-picture-itemsBtn{
    float: right;
}

.AnP-title{
    margin-top: 5px;
    color: rgb(44, 167, 255);
}

.AnP-container_section2{
    margin-top: 4rem;
}

.AnP-section2-title{
    border-bottom: 1px solid rgb(46, 203, 255);
    margin-bottom: 10px;
    display: flex;
    bottom: -5px;

    &_p1{
        float: left;
        flex: 80%;
        color: rgb(46, 203, 255);
    }
    &_p2{
        flex: 20%;
        color: rgb(46, 203, 255);
        
    }
}

.AnP-container_section2-headerTitle{
    border-bottom: rgb(190, 190, 190) solid 1px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


// Branches
.Branches-container{
    width: 100%;
    min-width: 752.8px;
    margin-top: 1rem;
    margin-left: 3rme;
    background-color: rgb(255, 255, 249);
    padding: 1rem;
    margin-bottom: 3rem;

    &_title{
        margin-top: 5px;
    color: rgb(44, 167, 255);
    }

    &_section1-1{
        border-top: rgb(190, 190, 190) solid 1px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        margin-top: 10px;
        display: flex;
        gap: 1rem;
    }

    &_section1-inputAddress{
        flex: 40%;
        float: left;
    }

    &_section1-inputCity{
        flex: 40%;
    }

    &_section1-input{
        width: 100%;
    }

    &_section1-btnSave{
        width: 4rem;
        height: 16pxs;
        margin-top: 1rem;
        border-radius: 0.25rem;
        border: 1px solid rgb(44, 167, 255);
        vertical-align: middle;
        background-color: rgb(44, 167, 255);
        color: white;
    }

    &_section2{
        border-top: rgb(190, 190, 190) solid 1px;
        padding-bottom: 24px;
        margin-bottom: 26px;
    }

    &_section2title{
        border-bottom: 1px solid rgb(46, 203, 255);
    margin-bottom: 10px;
    display: flex;
    bottom: -5px;
    }
    &_section2title-p1{
        flex: 80%;
    }
    &_section2title-p2{
        flex: 20%;
    }
    &_section3{
        display: flex;
        gap: 10px;
    }
    &_section3-btnSection{
        float: right;
        flex: 20%;
    }
    &_section3-text{
        display: flex;
        float: right;
        flex: 80%;
    }

    &_btn{
        height: 24px;
        width: 6rem;
        border-radius: 0.25rem;
        border: 1px solid rgb(255, 44, 44);
        text-align: center;
        vertical-align: middle;
        background-color: rgb(255, 255, 255);
        color: rgb(255, 44, 44);
    }
    
    &_pagination{
        float: right;

    }

}

.video{
    width: 100%;
    max-width: 752.8px;
    margin-top: 1rem;
    margin-left: 3rme;
    background-color: rgb(255, 255, 249);
    padding: 1rem;
    margin-bottom: 3rem;

    &_container{
        border-top: rgb(44, 167, 255) solid 1px;
        margin-bottom: 1rem;
        padding-top: 5px;
    }

    &_title{
        margin-top: 5px;
        color: rgb(44, 167, 255);
    }

    &_section1{
        display: flex;
        gap: 1rem;
        margin-bottom: 10px;
    }
    &_section1-1{
        flex: 50%;
    }
    &_section1-2{
        flex: 50%;
        margin-bottom: 10px;
    }
    &_section1-input{
        width: 100%;    
    }
    &_section2{
        margin-bottom: 3rem;
        margin-left: 1rem;
    }
    &_section2-title{
        display: flex;
        border-bottom:rgb(46, 203, 255) solid 1px;
        padding-top: 5px;
        margin-bottom: 10px;
    }
    &_section2-title-p1{
        flex: 80%;
        color: rgb(46, 203, 255);
    }
    &_section2-title-p2{
        flex: 20%;
        color: rgb(46, 203, 255);
    }
    &_items{
        display: flex;
        margin-bottom: 1rem;
    }
    &_items-title{
        flex: 80%;
    }
    &_items-title2{
        display: flex;
        gap: 10px;
    }
    &_items-btn{
        flex: 20%;
        gap: 5px;
    }
    &_items-btn1{
        width: 4rem;
        height: 16pxs;
        margin-right: 10px;
        margin-top: 1rem;
        border-radius: 0.25rem;
        border: 1px solid rgb(44, 167, 255);
        vertical-align: middle;
        background-color: rgb(44, 167, 255);
        color: white;
    }
    &_items-btn2{
        width: 4rem;
        height: 16pxs;
        margin-top: 1rem;
        border-radius: 0.25rem;
        border: 1px solid rgb(255, 44, 44);
        vertical-align: middle;
        background-color: rgb(255, 255, 255);
        color: rgb(255, 44, 44);
    }
    &_pagination{
        float: right;
    }
    &_border{
        border-bottom: rgb(190, 190, 190) solid 1px;
    }
}

