.page-table{
    justify-content: center;
    display:grid;
    padding: 2rem;
    margin: auto;
}

// .catData{

// }

table {
    border-collapse: collapse;
}

.tableHead{
    background-color:#6c7ac9;
    // border:1px solid black;
    padding:5px;
}

.tr{
    width:150px;
    text-align:center;
    border:1px solid rgb(255, 0, 0);
    padding:5px;
}

.thead, th{
    width:150px;
    text-align:center;
    border:1px solid black;
    padding:5px;
    text-align:left;
    color: blanchedalmond;
}

.th, td{
    width:150px;
    text-align:center;
    border:1px solid black;
    padding:5px;
    text-align:left;

}

.th_id{
    width: 2.5rem;
}
.td_id{
    width: 2.5rem;
}

.Page-Link{
    padding-top: 0.5rem;
}

.header{
    display: flex;
    position: relative;

    &_add-btn{
    float: right;
    padding: 10px;
    border-radius: 5px;
    }
}

.action_th{
    width: 200px;
}
